* {
  padding: 0;
}

header {
  font-family: "Caveat", cursive;

}

body {
  font-family: "Inter", sans-serif;
  background-color: #540085;
  color: #fff;

}

hr {
  border: #a3a3a3 0.01em solid;

  width: 88%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 0.1px;

}

.body {
}

.descImg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20em;
}

.description{
  margin-left: 5em;
  margin-top: 1em;

}

.text-sobreMim{

}

.text-littleDesc {
  font-style: italic;
}

.text-main {

}

.visualizar-projetos{
}

button{
  font-weight: bold;
  width: 42em;
  height: 3em;
  border-radius: 10px;
  border: none;
  color: #540085;

  margin-left: 5.9em;

}

button:hover{
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.432);
  border-radius: 10px 10px 10px 10px;
}

.image {
  margin-right: 5em;

}
img {
  height: 18em;
  border-radius: 200px;
}


.line-f hr{
  border: #a3a3a3 0.01em solid;

  width: 88%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 0.1px;
  margin-top: 3em;

}

a {
  width: 1.8rem;
  height: 1.8rem;
}

footer {
  font-family: "Caveat", cursive;
}

.container-footer {
  align-items: center;
  justify-content: center;
  display: block;

  margin-top: 0.5em;
}

.titulo {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content:center;
  gap: 0.5em;
}

@media screen and (max-width: 425px) {
  .titulo {
  }
  hr {
    width: 95%;
  }
  .descImg {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .description{
    margin: 1rem 0rem 0rem 0.5rem;
  }

  .image {
  
  }
  img {
    height: 25.5em;
    border-radius: 200px;
  }

  button{
    font-weight: bold;
    width: 25em;
    height: 3em;
    border-radius: 10px;
    border: none;
    color: #540085;

    margin-top: 1rem;
    margin-left: 2.7rem;
  }

  .line-f hr {
    width: 95%;
  }

  
  
}